version: "3.9"
services:
  gql:
    build: .
    image: "2547techno/tpp-gql:latest"
    ports:
      - 2555:3000
    environment:
      API1_URL: "http://localhost:2526"
      API2_URL: "http://localhost:2527"
      PORT: 3000